@import 'fonts';

article {
  font-family: $font-serif-main;
  font-size: 1.3em;
  padding: 25px 15px 10px 15px;
  max-width: 1350px;
  margin: auto;

  .body {
    max-width: 1200px;
    margin: auto;
  }

  h1, h2, h3 {
    font-family: $font-sans-main;
  }

  h1 {
    font-size: 2.5em;
  }
}
