@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy");
@import url("https://fonts.googleapis.com/css?family=Belleza");
header.main-header {
  background-color: #2d8f4c;
  color: white;
  font-size: 2em;
  font-family: "Sorts Mill Goudy", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  overflow: hidden; }
  header.main-header > * {
    display: inline-block;
    padding: 10px; }
  header.main-header .account-toolbar {
    flex-shrink: 0;
    font-size: 80%; }
    header.main-header .account-toolbar button {
      background-color: transparent;
      border: inherit;
      color: inherit;
      font: inherit;
      font-size: inherit; }
    header.main-header .account-toolbar button:hover {
      color: #2d8f4c;
      background-color: white; }
  header.main-header nav {
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    header.main-header nav a {
      color: inherit;
      text-decoration: inherit;
      padding: 0px 10px 0px 10px; }
    header.main-header nav a:hover {
      color: #2d8f4c;
      background-color: white; }
  header.main-header .brand {
    height: 75px;
    flex-basis: 320px;
    max-width: 480px;
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
    display: flex;
    align-items: center; }
    header.main-header .brand img {
      max-width: 100%;
      max-height: 100%;
      height: auto; }

#error-gutter.error {
  padding: 15px;
  background-color: #1868c3;
  color: white;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.3em; }

main.content {
  background-color: white;
  color: #32363e;
  font-family: "Belleza", sans-serif;
  display: inline-block;
  width: 100vw;
  max-width: inherit;
  padding: 25px 35px 40px 35px; }

article {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.3em;
  max-width: 1350px;
  margin: auto; }
  article > * {
    max-width: 1200px;
    margin: auto; }
  article .body {
    text-align: justify; }
  article header, article footer {
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Belleza", sans-serif; }
    article header *, article footer * {
      margin-bottom: 20px;
      margin-top: 20px; }
    article header button, article footer button {
      padding: 10px;
      background-color: transparent;
      border: inherit;
      color: #1868c3;
      font: inherit;
      font-size: 0.85em; }
    article header button:hover, article footer button:hover {
      color: white;
      background-color: #1868c3; }
  article .sub-header-info {
    padding: 0px 45px 0px 45px;
    font-size: 0.85em;
    display: flex;
    justify-content: space-between;
    align-items: center; }

article.single-event .date, article.single-event .location {
  font-style: italic; }

.event-list {
  max-width: 1200px;
  margin: auto; }

* {
  box-sizing: border-box; }

body {
  margin: 0px;
  background-color: #32363e; }

.width-fix {
  max-width: 1600px;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
